# Supabase
VITE_SUPABASE_URL=https://qmekzmexvtmcljwvklkh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFtZWt6bWV4dnRtY2xqd3ZrbGtoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxMzAyMDIsImV4cCI6MjA5MTcwNjIwMn0.ddw_FcuVz1odZSBeQVKC3pbvlByPaD0r2uMIj9_sIf0
# Bot Estelar Express (Gelotra) - solo para GitHub Actions
GELOTRA_USER=tu_usuario_gelotranpm
GELOTRA_PASS=tu_contrasena_gelotra
GELOTRA_URL=https://gelotra.com

# Supabase service key - solo para el bot
SUPABASE_SERVICE_KEY=tu_service_role_key_aqui
SUPABASE_URL=https://TU_PROYECTO.supabase.co
